@import "tailwindcss";

@theme {
  --color-gold: #ffd700;
  --color-background: #121212;
  --color-cardbackground: #1e1e1e;
  --color-orangemy: #ffa500;
  --color-gray: #2d2d2d;
  --color-red: #f56565;
  --font-zain: Zain, sans-serif;
  --font-poiret: Poiret One, static;
  --font-kantumruy: Kantumruy Pro, serif;
}

body {
  @apply bg-gradient-to-br from-[#1a1a2e] to-black text-[#f8f1e5];
  font-family: Kantumruy Pro, serif;
  font-optical-sizing: auto;
  text-align: center;
}

.background-cinenova {
  background: linear-gradient(135deg, #1a1a2e, #000000);
}

/* Realistic gold text effect */
.shiny-text {
  font-weight: bold;
  background: linear-gradient(90deg, #b8860b, #ffd700, #daa520, #b8860b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: poiret one, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Gradient border for movie posters */
.gold-border {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.gold-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #b8860b, #ffd700, #daa520, #b8860b);
  z-index: -1;
  border-radius: 8px;
}

.gold-border img {
  display: block;
  border-radius: 6px; /* Slightly smaller radius to fit inside the border */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gold-border:hover {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}

/* Fixed size for movie poster images */
.fixed-size {
  width: 100%; /* Ensure the image takes full width of the container */
  height: 250px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the entire area */
  min-height: 250px; /* Ensure a minimum height to prevent overlapping */
}

/* Gold gradient button */
.gold-button {
  @apply bg-gradient-to-r from-[#b8860b] via-[#ffd700] to-[#daa520] text-black font-bold border-none rounded-r-lg p-2 cursor-pointer transition ease-in-out duration-300;
}

.gold-button:hover {
  @apply bg-gradient-to-r from-[#daa520] via-[#ffd700] to-[#b8860b];
}

/* Gold gradient input border on focus with rounded edges */
.gold-input:focus {
  background-color: none;
  outline: none;
  border-top-right-radius: 4px; /* Rounded top left corner */
  border-bottom-right-radius: 4px; /* Rounded bottom left corner */
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #b8860b, #ffd700, #daa520, #b8860b) 1;
}
